@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">甜點資訊站</h1>
    <p>這是一項屬於你的甜點分享聊天機器人 <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>